In [1]:
import pandas as pd

In [7]:
df_pop = pd.read_csv(r'../data/dopa/stat_c66.txt', sep='|')
df_pop = df_pop.iloc[:, [2, 11]]
df_pop.columns = ['prov', 'pop']

In [15]:
df_pop['pop'] = df_pop['pop'].str.replace(',', '').astype(int)
df_pop = df_pop.sort_values('pop', ascending=False)
df_pop.head(10)

                     prov      pop
0           กรุงเทพมหานคร  5471588
18     จังหวัดนครราชสีมา   2625794
22    จังหวัดอุบลราชธานี   1869608
38      จังหวัดเชียงใหม่   1797075
28        จังหวัดขอนแก่น   1779373
10         จังหวัดชลบุรี   1618066
19      จังหวัดบุรีรัมย์   1573230
29       จังหวัดอุดรธานี   1558528
63  จังหวัดนครศรีธรรมราช   1540953
21       จังหวัดศรีสะเกษ   1450333